---
import Layout from '../layouts/Layout.astro';

const items = [
	{
		name: "4",
		bgColor: "bg-amber-600"
	},
	{
		name: "3",
		bgColor: "bg-slate-600"
	},
	{
		name: "2",
		bgColor: "bg-cyan-600"
	},
	{
		name: "1",
		bgColor: "bg-stone-600"
	},
]
---

<Layout title="Astro View Transitions API in 4321">
	<main class="grid grid-cols-1 md:grid-cols-4 text-center w-full min-h-screen">
		{
			items.map((item) => (
				<div class={`w-full flex justify-center items-center ${item.bgColor}`} transition:name={`container-${item.name}`}>
					<a href={`/${item.name}/`} class="text-white text-9xl font-mono block p-8" transition:name={`num-${item.name}`}>{item.name}</a>
				</div>
			))
		}
	</main>
</Layout>